<template>
  <base-card>
    <base-button
      @click="setSelectedTab('stored-resources')"
      :mode="buttonMode('stored-resources')"
      >Stored Resources</base-button
    >
    <base-button
      @click="setSelectedTab('add-resource')"
      :mode="buttonMode('add-resource')"
      >Add Resource</base-button
    >
  </base-card>
  <keep-alive>
    <component :is="selectedTab"></component>
  </keep-alive>
</template>

<script>
import StoredResources from './StoredResources.vue';
import AddResource from './AddResource.vue';

export default {
  components: {
    StoredResources,
    AddResource,
  },
  data() {
    return {
      selectedTab: 'stored-resources',
      storedResources: [
        {
          id: 'official-guide',
          title: 'Official Guide',
          description: 'The official Vue JS documentation',
          link: 'https://vuejs.org',
        },
        {
          id: 'google',
          title: 'Google',
          description: "Google, what's else ? ",
          link: 'https://google.fr',
        },
      ],
    };
  },
  computed: {},
  methods: {
    setSelectedTab(tab) {
      this.selectedTab = tab;
    },
    buttonMode(selected) {
      return this.selectedTab === selected ? null : 'flat';
    },
    addResource(title, desc, link) {
      const newResource = {
        id: new Date().toISOString,
        title: title,
        description: desc,
        link: link,
      };
      this.storedResources.unshift(newResource);
      this.selectedTab = 'stored-resources';
    },
    removeResource(resId){
        const resIndex = this.storedResources.findIndex(res => res.id === resId);
        this.storedResources.splice(resIndex, 1);
    }
  },
  provide() {
    return {
      resources: this.storedResources,
      addResource: this.addResource,
      removeResource: this.removeResource
    };
  },
};
</script>